<div class="add-unit-set add-select">
	<select id="select-cat" class="fijs-select clear-both"></select>
	<!-- <div id="replace-select">SELECT</div> -->
</div>
<div class="add-unit-set">
	<textarea id="todo-text" name="insert" class="insert-unit box-shadow"><%= name %></textarea>
	<button class="big-button suqare-button button insert-record box-shadow <%=( edit == 1 ? "icon-edit" : "icon-plus") %>"></button>
</div>