<li class="list-pos clickable" data-cid="<%= cid %>">
	<a href="#todos/<%= cid %>" class="name-li"><span class="name"><%= name %></span> (<%= count %>)</a>
	<span class="opt square-button icon-chevron-left button"></span>
</li>