@mixin square-button{
	display: inline-block;
	text-decoration: none;
	background-color:$button-color;
	border-radius: $button-radius;
	color: #ffffff;
	padding: 5px 10px;
	cursor:pointer;
	margin-left:5px;
	border:none;
	@include box-shadow;
	// -webkit-transition: background-color  0.2s ease-in 1s; 

	&.active,&:active{
		background-color: $button-color;
		-webkit-transform: scale(1.1);
	}
}

.button{
	cursor: pointer;
}

.menu-button{
	height:100% !important;
	background-color: $button-color;
	-webkit-transition: all  0.2s ease-in;

	&.active{
		background-color: $button-active;
		// -webkit-transform: scaleY(1.1);
		// .box-shadow;
	}

	
}
// padding for menu font icons
@include mobile-portrait{
    #page-footer [class^="icon-"]:before,#page-footer [class*=" icon-"]:before {
		// padding-top:1px;
	}
}
@include desktop{
    #page-footer [class^="icon-"]:before,#page-footer [class*=" icon-"]:before {
		padding-top:14px;
	}
}

.big-button{
	@include square-button;
	padding:5px 10px 5px 10px;
	// margin:10px auto;
	margin-top:7px;
	font-size:2rem;
	font-weight:bold;

// 	&:hover{
// 		background-color: red;
// 	}
}

// @todo change to universal for header buttons
#settings{
	// width:38px !important;
	// // margin-left:10px;
	// height:100%;
	// display: inline-block;
}
