input[type=text],input[type=password],textarea{
	background-color: #f0f5f5;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	padding:8px;
}
.big-input{
	padding:5px;
	font-size:1.5rem;
}
/*add todo*/
textarea.insert-unit{
	float: left;
	height: 80px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	padding-left: 5px;
	width: 72%;
}

$button-radius:6px;

/*BUTTONS*/
/* wspólne właściwości dla buttonów */
@mixin button-basic{
	border-radius: $button-radius;
	border:none;
	background-color: $button-color;
}
.insert-record{
	width:15%;
	height:50px;
}

select{
	background: rgba(100,100,100,0.5);
	-webkit-box-shadow: 0 0px 7px ;
       -moz-box-shadow: 0 0px 7px;
            box-shadow: 0 0px 7px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	width:200px;
	padding:8px;
	line-height:24px;
}

.add-unit-set{
	clear: both;
	float: left;
	text-align: left;
	width: 100%;
	height:55px;
	margin-left:5px;
}

// Add category
#add-category-form{
	margin-top:10px;

	input{
		border-radius:$input-radius;
		@include mobile-portrait{
			width:230px;
		}
		@include desktop{
			width:400px;
		}
	}

}