.list-pos.clickable.active{
	background-color: $active-list;
}
// .list-pos:active{
// 	background-color: $active-list;
// }
// .list-pos.clickable:active{
// 	background-color:$active-list;
// }
.list-pos.done .name-li{
	text-decoration: line-through;
	color:#aaa;
}
.std-list-1{
	list-style:none;
	padding:3px 0;
	margin:4px 0 0 0;
}
.std-list-1 li{
	display: block;
	min-height:35px;
	padding: 16px 0 6px 10px;
	border-top:1px solid #aaa;
	position: relative;

	&:last-child{
		border-bottom:1px solid #aaa;
	}

	// &:hover .opt{
	// 	-webkit-transform: translateX(-80px);
	// }

	a{
		text-decoration: none;
		width:90%;
		display: inline-block;
		// position:absolute;
		// top:0;
		// bottom:0;
		// left:0;
		// right:0;
		vertical-align: middle;
		padding:15px 0 0 10px;
	}
}
.opt {
	// @include square-button;
	position: absolute;
	right: 5px;
	top: 12px;
	color:$button-color;
	text-shadow: 0px 0px 6px #fff;
	font-size:2em;
	z-index:100;
	@include vendorize("transition",all 0.2s linear);
}
// todo list with checkbox on the left
#unit-list li{
	padding-left:3px;
}
#unit-list .todo-checkbox{
	width:2em;
	font-size:1.5em;
	color:$button-color;
}