$button-color: #8F4A1A;
$button-active:#271A0E;
$active-list:#DC7042;
$bg-color:#C5B68E;
$radius-main:6px;
$light-color-text:#fff;
$font-color:#fff;
$button-radius:8px;
$input-radius:6px;

$font-root:14px;

$mobile-portrait: 480px !default;
$desktop:1200px;

$fh-size-big:60px; //footer/header sizing for mobile
$fh-size-small:38px; //footer/header sizing for 

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin mobile-portrait {
	@media (max-width : $mobile-portrait) {
		@content;
	}
}
@mixin desktop {
	@media (min-width : $desktop) {
		@content;
	}
}

@mixin box-shadow ($x: 0, $y: 0, $blur: 6px, $color: #000){
	@include vendorize("box-shadow", $x $y $blur $color);
}

@mixin text-shadow($color: #212121, $x:1px, $y:1px, $blur: 4px){
	@include vendorize("text-shadow",$color $x $y $blur);
}

@mixin trim{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@include mobile-portrait{
	font-size:2em;
}
@include desktop{
	font-size: 3em;
	// margin-top: 0.25em;
}

/*STARE STATYCZNE*/
html{ -webkit-tap-highlight-color: rgba(0,0,0,0); }
html, body {
	margin: 0;
	padding: 0;
	font-size:$font-root;
	@include text-shadow;
}

body {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	background-color: $bg-color;
}

ul{
	padding: 0;
	margin: 0;
}

/* MAIN PAGE ELEMENTS */
#page-header {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
	background-color:$button-color;
	text-align: center;
	@include mobile-portrait{
		height:$fh-size-small;
	}
	@include desktop{
		height:$fh-size-big;
	}

	h1{
		@include trim;
		@include text-shadow;
		font-weight: bold;
		margin:auto;
		width: 60%;
		color: white;
		display: inline-block;
		vertical-align: middle;

		@include mobile-portrait{
			font-size: 1.5rem;
			padding-top:0.5rem;
		}
		@include desktop{
			font-size: 2.5rem;
			padding-top:0.7rem;
		}
	}
}
#header-right{
	display: inline-block;
	height:100%;
	position: absolute;
	right:0px;

	a{
		text-decoration: none;
		color:$font-color;
		display: block;
		@include mobile-portrait{
			font-size: 2em;
			width:40px;
		}
		@include desktop{
			font-size: 3em;
			width:56px;
		}
	}
}
// padding for head buttons
@include mobile-portrait{
    #page-header [class^="icon-"]:before,#page-header [class*=" icon-"]:before {
		margin-top:9px;
	}
}
@include desktop{
    #page-header [class^="icon-"]:before,#page-header [class*=" icon-"]:before {
		margin-top:14px;
	}
}
#header-left{
	display: inline-block;
	height:100%;
	position: absolute;
	right:10px;
}

#page-wrapper{
	// overflow:hidden;
}

.slider-transition{
	@include vendorize('transition',0.3s ease-in-out);
}

/*CONTENT*/
#slider-container{

	overflow:hidden;
	margin: 0 auto;
	display:none;

	#slider-viewport{
		position:relative;
		@include mobile-portrait{
			top:$fh-size-small;
		}
		@include desktop{
			top:$fh-size-big;
		}

		.page-item{
			left:0;
			overflow: auto;
			// width:1311px;
			display: inline-block;
			height:100%;
			float:left;
		}
	}
}

.centered-content{
	text-align: center;
}
#page-footer {
	z-index: 2;
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	background-color:$button-color;
	@include mobile-portrait{
		height:$fh-size-small;
	}
	@include desktop{
		height:$fh-size-big;
	}

	a{
		color:#fff;
		text-decoration: none;
		display:block;
		float:left;
		text-align:center;
		margin:0;
		width:33%;

		&:last-child{
			width:34%;
		}

		@include mobile-portrait{
			font-size:2em;
		}
		@include desktop{
			font-size: 3em;
		}
	}
}

.box-shadow{
	@include box-shadow;
}