/*POPUP MENU*/
#pop-menu-wrapper{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	// opacity: 0.7;
	background-color: rgba(100,100,100,0.7);
	z-index: 99;
}
#popup-menu{
	width:260px;
	border:2px solid #aaa;
	background-color: #fff;
	border-radius: 3px;
	z-index:100;
	position:absolute;
}
.popmenu-list{
	list-style: none;
}
.popmenu-list li{
	padding: 20px 20px 8px;
	border-bottom: 1px solid #aaa;
	height:30px;
}
.conf-top{
	min-height: 48px;
	text-align: center;
	padding-top: 33px;
}
.conf-bottom{
	height: 40px;
	text-align: center;
	width: 100%;
}
.conf-ok,.conf-cancel{
	width: 48%;
	border-top: 1px solid #ccc;
	padding: 11px 0 5px 0;
	display: inline-block;
}
.conf-ok{
	border-right:1px solid #ccc;
}

/*CUSTOM DROPDOWN*/
.replace-select{
	// @include box-shadow;
	background-color: $button-color;
	padding:5px 10px;
	border-radius:$radius-main;
	width:150px;
	margin:13px 0 0 10px;
	color:$light-color-text;
	position: relative;
	height:23px;
	cursor:pointer;
	z-index:100;

	// select current text
	span:first-child{
		float:left;
		display:block;
	}

	// icon (triangle down) for select
	span:last-child{
		float:right;
		display: block;
		font-size:1.4rem;

		&.a-icon:before{
			position: relative;
			top:-2px;
		}
		
		&:hover{
			color:$font-color;
		}
	}
}
// select options (dropdown)
.select-wrapper{
	z-index: 100;
	position: absolute;
	margin: 5px 0 0 12px;
	list-style:none;

	li{
		padding:5px;
		background-color:$button-color;
		border-radius: $button-radius;
		margin-bottom:3px;
		color:$font-color;
		@include trim;
		cursor:pointer;
	}
}
.click-layer{
	z-index:90;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
}

// animated list context menu
.list-context-menu{
	position: absolute;
	right: 5px;
	z-index:100;

	.item{
		position:absolute;
		background-color:$button-color;
		padding:5px 5px 5px 5px;
		height:20px;
		width:20px;
		display:inline-block;
		text-align:center;
		border-radius:999px;
		box-shadow: 0px 0px 6px #fff;
		color:$bg-color;
		text-shadow:none;
		font-size:18px;
		// text-shadow: 0px 0px 6px #fff;

		&.edit{
			right:40px;
		}
		&.delete{
			right:0px;
		}
	}
}

.transformed{
	-webkit-transform: translateX(-80px);
}