@charset "UTF-8";
/*
 *= require_self
*/
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("eot"), url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 37, ../sass/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 49, ../sass/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 56, ../sass/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 57, ../sass/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 58, ../sass/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 59, ../sass/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 60, ../sass/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 61, ../sass/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 62, ../sass/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 63, ../sass/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 64, ../sass/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 65, ../sass/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 66, ../sass/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 67, ../sass/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 68, ../sass/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 69, ../sass/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 70, ../sass/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 72, ../sass/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 73, ../sass/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 74, ../sass/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 75, ../sass/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 76, ../sass/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 77, ../sass/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 78, ../sass/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 79, ../sass/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 80, ../sass/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 81, ../sass/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 82, ../sass/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 83, ../sass/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 84, ../sass/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 85, ../sass/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 86, ../sass/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
/* line 89, ../sass/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 90, ../sass/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 91, ../sass/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 92, ../sass/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 93, ../sass/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 94, ../sass/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 95, ../sass/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 96, ../sass/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 97, ../sass/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 98, ../sass/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 99, ../sass/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 100, ../sass/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 101, ../sass/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 102, ../sass/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 103, ../sass/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 105, ../sass/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 106, ../sass/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 107, ../sass/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 108, ../sass/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 109, ../sass/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 110, ../sass/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 111, ../sass/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 112, ../sass/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 113, ../sass/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 114, ../sass/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 115, ../sass/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 116, ../sass/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 117, ../sass/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 118, ../sass/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 119, ../sass/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 121, ../sass/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 122, ../sass/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 123, ../sass/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 124, ../sass/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 125, ../sass/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 126, ../sass/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 127, ../sass/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 128, ../sass/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 129, ../sass/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 130, ../sass/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 131, ../sass/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 132, ../sass/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 133, ../sass/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 134, ../sass/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 135, ../sass/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 137, ../sass/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 138, ../sass/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 139, ../sass/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 140, ../sass/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 141, ../sass/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 142, ../sass/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 143, ../sass/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 144, ../sass/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 145, ../sass/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 146, ../sass/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 147, ../sass/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 148, ../sass/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 149, ../sass/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 150, ../sass/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 151, ../sass/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 153, ../sass/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 154, ../sass/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 155, ../sass/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 156, ../sass/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 157, ../sass/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 158, ../sass/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 159, ../sass/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 160, ../sass/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 161, ../sass/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 162, ../sass/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 163, ../sass/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 164, ../sass/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 165, ../sass/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 166, ../sass/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 167, ../sass/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 169, ../sass/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 170, ../sass/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 171, ../sass/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 172, ../sass/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 173, ../sass/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 174, ../sass/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 175, ../sass/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 176, ../sass/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 177, ../sass/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 178, ../sass/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 179, ../sass/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 180, ../sass/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 181, ../sass/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 182, ../sass/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 183, ../sass/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 185, ../sass/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 186, ../sass/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 187, ../sass/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 188, ../sass/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 189, ../sass/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 190, ../sass/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 191, ../sass/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 192, ../sass/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 193, ../sass/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 194, ../sass/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 195, ../sass/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 196, ../sass/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 197, ../sass/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 198, ../sass/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 199, ../sass/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 201, ../sass/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 202, ../sass/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 203, ../sass/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 204, ../sass/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 205, ../sass/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 206, ../sass/_font-awesome.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 207, ../sass/_font-awesome.scss */
.icon-check-empty:before {
  content: "\f096";
}

/* line 208, ../sass/_font-awesome.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 209, ../sass/_font-awesome.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 210, ../sass/_font-awesome.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 211, ../sass/_font-awesome.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 212, ../sass/_font-awesome.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 213, ../sass/_font-awesome.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 214, ../sass/_font-awesome.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 215, ../sass/_font-awesome.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 217, ../sass/_font-awesome.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 218, ../sass/_font-awesome.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 219, ../sass/_font-awesome.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 220, ../sass/_font-awesome.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 221, ../sass/_font-awesome.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 222, ../sass/_font-awesome.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 223, ../sass/_font-awesome.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 224, ../sass/_font-awesome.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 225, ../sass/_font-awesome.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 226, ../sass/_font-awesome.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 227, ../sass/_font-awesome.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 228, ../sass/_font-awesome.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 229, ../sass/_font-awesome.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 230, ../sass/_font-awesome.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 231, ../sass/_font-awesome.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 233, ../sass/_font-awesome.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 234, ../sass/_font-awesome.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 235, ../sass/_font-awesome.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 237, ../sass/_font-awesome.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 238, ../sass/_font-awesome.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 239, ../sass/_font-awesome.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 240, ../sass/_font-awesome.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 241, ../sass/_font-awesome.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 242, ../sass/_font-awesome.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 243, ../sass/_font-awesome.scss */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 244, ../sass/_font-awesome.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 245, ../sass/_font-awesome.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 246, ../sass/_font-awesome.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 247, ../sass/_font-awesome.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 248, ../sass/_font-awesome.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 249, ../sass/_font-awesome.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 250, ../sass/_font-awesome.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 251, ../sass/_font-awesome.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 253, ../sass/_font-awesome.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 254, ../sass/_font-awesome.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 255, ../sass/_font-awesome.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 256, ../sass/_font-awesome.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 257, ../sass/_font-awesome.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 258, ../sass/_font-awesome.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 259, ../sass/_font-awesome.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 260, ../sass/_font-awesome.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 261, ../sass/_font-awesome.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 262, ../sass/_font-awesome.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 263, ../sass/_font-awesome.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 264, ../sass/_font-awesome.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 265, ../sass/_font-awesome.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 266, ../sass/_font-awesome.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 267, ../sass/_font-awesome.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 269, ../sass/_font-awesome.scss */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 270, ../sass/_font-awesome.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 271, ../sass/_font-awesome.scss */
.icon-undo:before {
  content: "\f0e2";
}

/* line 272, ../sass/_font-awesome.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 273, ../sass/_font-awesome.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 274, ../sass/_font-awesome.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 275, ../sass/_font-awesome.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 276, ../sass/_font-awesome.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 277, ../sass/_font-awesome.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 278, ../sass/_font-awesome.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 279, ../sass/_font-awesome.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 281, ../sass/_font-awesome.scss */
.icon-user-md:before {
  content: "\f200";
}

@media (max-width: 480px) {
  font-size: 2em;
}
@media (min-width: 1200px) {
  font-size: 3em;
}
/*STARE STATYCZNE*/
/* line 61, ../sass/_main.scss */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 62, ../sass/_main.scss */
html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-text-shadow: #212121 1px 1px 4px;
  -moz-text-shadow: #212121 1px 1px 4px;
  -ms-text-shadow: #212121 1px 1px 4px;
  -o-text-shadow: #212121 1px 1px 4px;
  text-shadow: #212121 1px 1px 4px;
}

/* line 69, ../sass/_main.scss */
body {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  background-color: #c5b68e;
}

/* line 74, ../sass/_main.scss */
ul {
  padding: 0;
  margin: 0;
}

/* MAIN PAGE ELEMENTS */
/* line 80, ../sass/_main.scss */
#page-header {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #8f4a1a;
  text-align: center;
}
@media (max-width: 480px) {
  /* line 80, ../sass/_main.scss */
  #page-header {
    height: 38px;
  }
}
@media (min-width: 1200px) {
  /* line 80, ../sass/_main.scss */
  #page-header {
    height: 60px;
  }
}
/* line 94, ../sass/_main.scss */
#page-header h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-shadow: #212121 1px 1px 4px;
  -moz-text-shadow: #212121 1px 1px 4px;
  -ms-text-shadow: #212121 1px 1px 4px;
  -o-text-shadow: #212121 1px 1px 4px;
  text-shadow: #212121 1px 1px 4px;
  font-weight: bold;
  margin: auto;
  width: 60%;
  color: white;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 480px) {
  /* line 94, ../sass/_main.scss */
  #page-header h1 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}
@media (min-width: 1200px) {
  /* line 94, ../sass/_main.scss */
  #page-header h1 {
    font-size: 2.5rem;
    padding-top: 0.7rem;
  }
}

/* line 114, ../sass/_main.scss */
#header-right {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0px;
}
/* line 120, ../sass/_main.scss */
#header-right a {
  text-decoration: none;
  color: white;
  display: block;
}
@media (max-width: 480px) {
  /* line 120, ../sass/_main.scss */
  #header-right a {
    font-size: 2em;
    width: 40px;
  }
}
@media (min-width: 1200px) {
  /* line 120, ../sass/_main.scss */
  #header-right a {
    font-size: 3em;
    width: 56px;
  }
}

@media (max-width: 480px) {
  /* line 136, ../sass/_main.scss */
  #page-header [class^="icon-"]:before, #page-header [class*=" icon-"]:before {
    margin-top: 9px;
  }
}
@media (min-width: 1200px) {
  /* line 141, ../sass/_main.scss */
  #page-header [class^="icon-"]:before, #page-header [class*=" icon-"]:before {
    margin-top: 14px;
  }
}
/* line 145, ../sass/_main.scss */
#header-left {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 10px;
}

/* line 156, ../sass/_main.scss */
.slider-transition {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*CONTENT*/
/* line 161, ../sass/_main.scss */
#slider-container {
  overflow: hidden;
  margin: 0 auto;
  display: none;
}
/* line 167, ../sass/_main.scss */
#slider-container #slider-viewport {
  position: relative;
}
@media (max-width: 480px) {
  /* line 167, ../sass/_main.scss */
  #slider-container #slider-viewport {
    top: 38px;
  }
}
@media (min-width: 1200px) {
  /* line 167, ../sass/_main.scss */
  #slider-container #slider-viewport {
    top: 60px;
  }
}
/* line 176, ../sass/_main.scss */
#slider-container #slider-viewport .page-item {
  left: 0;
  overflow: auto;
  display: inline-block;
  height: 100%;
  float: left;
}

/* line 187, ../sass/_main.scss */
.centered-content {
  text-align: center;
}

/* line 190, ../sass/_main.scss */
#page-footer {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #8f4a1a;
}
@media (max-width: 480px) {
  /* line 190, ../sass/_main.scss */
  #page-footer {
    height: 38px;
  }
}
@media (min-width: 1200px) {
  /* line 190, ../sass/_main.scss */
  #page-footer {
    height: 60px;
  }
}
/* line 204, ../sass/_main.scss */
#page-footer a {
  color: #fff;
  text-decoration: none;
  display: block;
  float: left;
  text-align: center;
  margin: 0;
  width: 33%;
}
/* line 213, ../sass/_main.scss */
#page-footer a:last-child {
  width: 34%;
}
@media (max-width: 480px) {
  /* line 204, ../sass/_main.scss */
  #page-footer a {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 204, ../sass/_main.scss */
  #page-footer a {
    font-size: 3em;
  }
}

/* line 226, ../sass/_main.scss */
.box-shadow {
  -webkit-box-shadow: 0 0 6px black;
  -moz-box-shadow: 0 0 6px black;
  -ms-box-shadow: 0 0 6px black;
  -o-box-shadow: 0 0 6px black;
  box-shadow: 0 0 6px black;
}

/* line 20, ../sass/_buttons.scss */
.button {
  cursor: pointer;
}

/* line 24, ../sass/_buttons.scss */
.menu-button {
  height: 100% !important;
  background-color: #8f4a1a;
  -webkit-transition: all  0.2s ease-in;
}
/* line 29, ../sass/_buttons.scss */
.menu-button.active {
  background-color: #271a0e;
}

@media (min-width: 1200px) {
  /* line 44, ../sass/_buttons.scss */
  #page-footer [class^="icon-"]:before, #page-footer [class*=" icon-"]:before {
    padding-top: 14px;
  }
}
/* line 49, ../sass/_buttons.scss */
.big-button {
  display: inline-block;
  text-decoration: none;
  background-color: #8f4a1a;
  border-radius: 8px;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
  border: none;
  -webkit-box-shadow: 0 0 6px black;
  -moz-box-shadow: 0 0 6px black;
  -ms-box-shadow: 0 0 6px black;
  -o-box-shadow: 0 0 6px black;
  box-shadow: 0 0 6px black;
  padding: 5px 10px 5px 10px;
  margin-top: 7px;
  font-size: 2rem;
  font-weight: bold;
}
/* line 14, ../sass/_buttons.scss */
.big-button.active, .big-button:active {
  background-color: #8f4a1a;
  -webkit-transform: scale(1.1);
}

/* line 1, ../sass/_lists.scss */
.list-pos.clickable.active {
  background-color: #dc7042;
}

/* line 10, ../sass/_lists.scss */
.list-pos.done .name-li {
  text-decoration: line-through;
  color: #aaa;
}

/* line 14, ../sass/_lists.scss */
.std-list-1 {
  list-style: none;
  padding: 3px 0;
  margin: 4px 0 0 0;
}

/* line 19, ../sass/_lists.scss */
.std-list-1 li {
  display: block;
  min-height: 35px;
  padding: 16px 0 6px 10px;
  border-top: 1px solid #aaa;
  position: relative;
}
/* line 26, ../sass/_lists.scss */
.std-list-1 li:last-child {
  border-bottom: 1px solid #aaa;
}
/* line 34, ../sass/_lists.scss */
.std-list-1 li a {
  text-decoration: none;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0 0 10px;
}

/* line 47, ../sass/_lists.scss */
.opt {
  position: absolute;
  right: 5px;
  top: 12px;
  color: #8f4a1a;
  text-shadow: 0px 0px 6px #fff;
  font-size: 2em;
  z-index: 100;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 59, ../sass/_lists.scss */
#unit-list li {
  padding-left: 3px;
}

/* line 62, ../sass/_lists.scss */
#unit-list .todo-checkbox {
  width: 2em;
  font-size: 1.5em;
  color: #8f4a1a;
}

/* line 1, ../sass/_forms.scss */
input[type=text], input[type=password], textarea {
  background-color: #f0f5f5;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  padding: 8px;
}

/* line 7, ../sass/_forms.scss */
.big-input {
  padding: 5px;
  font-size: 1.5rem;
}

/*add todo*/
/* line 12, ../sass/_forms.scss */
textarea.insert-unit {
  float: left;
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 5px;
  width: 72%;
}

/*BUTTONS*/
/* wspólne właściwości dla buttonów */
/* line 31, ../sass/_forms.scss */
.insert-record {
  width: 15%;
  height: 50px;
}

/* line 36, ../sass/_forms.scss */
select {
  background: rgba(100, 100, 100, 0.5);
  -webkit-box-shadow: 0 0px 7px;
  -moz-box-shadow: 0 0px 7px;
  box-shadow: 0 0px 7px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  width: 200px;
  padding: 8px;
  line-height: 24px;
}

/* line 48, ../sass/_forms.scss */
.add-unit-set {
  clear: both;
  float: left;
  text-align: left;
  width: 100%;
  height: 55px;
  margin-left: 5px;
}

/* line 58, ../sass/_forms.scss */
#add-category-form {
  margin-top: 10px;
}
/* line 61, ../sass/_forms.scss */
#add-category-form input {
  border-radius: 6px;
}
@media (max-width: 480px) {
  /* line 61, ../sass/_forms.scss */
  #add-category-form input {
    width: 230px;
  }
}
@media (min-width: 1200px) {
  /* line 61, ../sass/_forms.scss */
  #add-category-form input {
    width: 400px;
  }
}

/*POPUP MENU*/
/* line 2, ../sass/_ui.scss */
#pop-menu-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.7);
  z-index: 99;
}

/* line 12, ../sass/_ui.scss */
#popup-menu {
  width: 260px;
  border: 2px solid #aaa;
  background-color: #fff;
  border-radius: 3px;
  z-index: 100;
  position: absolute;
}

/* line 20, ../sass/_ui.scss */
.popmenu-list {
  list-style: none;
}

/* line 23, ../sass/_ui.scss */
.popmenu-list li {
  padding: 20px 20px 8px;
  border-bottom: 1px solid #aaa;
  height: 30px;
}

/* line 28, ../sass/_ui.scss */
.conf-top {
  min-height: 48px;
  text-align: center;
  padding-top: 33px;
}

/* line 33, ../sass/_ui.scss */
.conf-bottom {
  height: 40px;
  text-align: center;
  width: 100%;
}

/* line 38, ../sass/_ui.scss */
.conf-ok, .conf-cancel {
  width: 48%;
  border-top: 1px solid #ccc;
  padding: 11px 0 5px 0;
  display: inline-block;
}

/* line 44, ../sass/_ui.scss */
.conf-ok {
  border-right: 1px solid #ccc;
}

/*CUSTOM DROPDOWN*/
/* line 49, ../sass/_ui.scss */
.replace-select {
  background-color: #8f4a1a;
  padding: 5px 10px;
  border-radius: 6px;
  width: 150px;
  margin: 13px 0 0 10px;
  color: white;
  position: relative;
  height: 23px;
  cursor: pointer;
  z-index: 100;
}
/* line 63, ../sass/_ui.scss */
.replace-select span:first-child {
  float: left;
  display: block;
}
/* line 69, ../sass/_ui.scss */
.replace-select span:last-child {
  float: right;
  display: block;
  font-size: 1.4rem;
}
/* line 74, ../sass/_ui.scss */
.replace-select span:last-child.a-icon:before {
  position: relative;
  top: -2px;
}
/* line 79, ../sass/_ui.scss */
.replace-select span:last-child:hover {
  color: white;
}

/* line 85, ../sass/_ui.scss */
.select-wrapper {
  z-index: 100;
  position: absolute;
  margin: 5px 0 0 12px;
  list-style: none;
}
/* line 91, ../sass/_ui.scss */
.select-wrapper li {
  padding: 5px;
  background-color: #8f4a1a;
  border-radius: 6px;
  margin-bottom: 3px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

/* line 101, ../sass/_ui.scss */
.click-layer {
  z-index: 90;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 111, ../sass/_ui.scss */
.list-context-menu {
  position: absolute;
  right: 5px;
  z-index: 100;
}
/* line 116, ../sass/_ui.scss */
.list-context-menu .item {
  position: absolute;
  background-color: #8f4a1a;
  padding: 5px 5px 5px 5px;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 999px;
  box-shadow: 0px 0px 6px #fff;
  color: #c5b68e;
  text-shadow: none;
  font-size: 18px;
}
/* line 131, ../sass/_ui.scss */
.list-context-menu .item.edit {
  right: 40px;
}
/* line 134, ../sass/_ui.scss */
.list-context-menu .item.delete {
  right: 0px;
}

/* line 140, ../sass/_ui.scss */
.transformed {
  -webkit-transform: translateX(-80px);
}

/* line 1, ../sass/_animations.scss */
.page-out {
  -webkit-transform: rotateX(90deg);
}
